body {
    background-image: url("RegisterBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#registerForm {
    background-color: rgba(255,255,255,0.6);
}