html {
    width: 100%;
    background-image: url("JoinBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/*#page {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: url("JoinBackground.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*}*/

#joiningForm {
    background-color: rgba(255,255,255,0.6);
}